<!-- modulos -->
<div class="bg-light mt-5 pb-1 border-top border-bottom">
    <div class="titulo my-5">
        <h4 class="text-center text-muted font-weight-bold">MODULOS</h4>
        <p class="text-center text-dark font-italic"></p>
    </div>

    <div class="row">
        <div class="col-sm-4 tintar1">
            <h4>ARTICULOS</h4>
            <img src="https://img.icons8.com/ultraviolet/100/000000/magazine.png" />
        </div>

        <div class="col-sm-4 tintar2">
            <h4>ALMACEN</h4>
            <img src="https://img.icons8.com/external-xnimrodx-lineal-color-xnimrodx/100/000000/external-stock-distribution-xnimrodx-lineal-color-xnimrodx-2.png" />
        </div>

        <div class="col-sm-4 tintar3">
            <h4>TIPO DE INVENTARIO</h4>
            <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/100/000000/external-inventory-business-management-justicon-lineal-color-justicon.png" />
        </div>

    </div>
</div>
